# BEGIN WordPress
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress

# Set cache for HTML and CSS files to 7 days
<FilesMatch "\.(html|htm|css)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# Set cache for JavaScript files to 7 days
<FilesMatch "\.(js)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

# Set cache for images to 1 month
<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Set cache for fonts to 1 year
<FilesMatch "\.(woff|woff2|ttf|otf|eot)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
